{% extends "base.html" %}

{% block footer %}
<section class="footer">

    <div class="box-container">

        <div class="box">
            <a href="#" class="logo"> <i class="fas fa-shopping-bag"></i>  shopping </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique expedita molestiae distinctio facere beatae velit, maiores ullam molestias necessitatibus sapiente.</p>
        </div>

        <div class="box">
            <h3>links</h3>
            <a href="#">home</a>
            <a href="#">arrival</a>
            <a href="#">featured</a>
            <a href="#">gallery</a>
            <a href="#">deal</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
            <p> <i class="fas fa-home"></i>
                mumbai, maharashtra, 
                india - 400104
            </p>
            <p> <i class="fas fa-phone"></i>
                +910000000
            </p>
            <p> <i class="fas fa-globe"></i>
                xyz@yoursite.com
            </p>
        </div>

    </div>

<h1 class="credit"> created by <span>mr. web designer</span> | all rights reserved. </h1>

</section>
{% endblock footer %}